#   SECURECloudMobilEQUIREMENTS\n"

The  **SECURECloudMobilEQUIREMENTS** is a custom made program. It helps in the creation of cloud and mobile apps with security by providing the security requirements before the creation of the tool. It is part of the outputs of project Systematization of the Security Engineering Process in the Cloud and Mobile Ecosystem.

##  License
Developed by Francisco Chimuco and Pedro R. M. Inácio Department of Computer Science Universidade da Beira Interior Copyright 2019 Francisco Chimuco and Pedro R. M. Inácio  SPDX-License-Identifier:   Apache-2.0

# The Requirements to develop your tool are: 

## Confidentiality 
The property that ensures that information is not disclosed or made available \to any unauthorized entity. In other words, personal information cannot be  accessed by an unauthorized third party                                    

---

## Integrity                                
Is the property of safeguarding the correctness and completeness of assets in a Cloud & Mobile system. In other words it involves maintaining the data consistent,   trustworthy and accurate during it life-cycle.                                

Not addressing this requirement may lead to vulnerabilities explored by attacks such as:  
                                                           
*SQL Injection Attacks:
In this type of attack, the attacker inserts malicious code with the  e thintention of accessing the  unauthorized database for the purpose of obtaining confidential or critical data from the legitimate user. 
    
*Wrapping Attacks:                                               
In a wrapping attack scenario, the attacker duplicates the SOAP message in the course of the translation and sends it to the server as a legitimate user. Therefore, the attacker may interfere with the malicious code. 
     
* MITM Attacks:                                                              
In this type of attack, an attacker attempts to intrude on a mail exchange or continuous message between two users or clients of a cloud-based mobile  application (client-server).                                                     

* Cookie Poisoning:                                                           
This type of attack consists of replacing or modifying cookie content in ways to gain unauthorized access to applications or Web pages.                       

---

## Availability                                                                  
Refers to the property which ensures that a mobile device or system is accessible and usable upon demand by authorized entities. In other words the mobile cloud-based application need to be always available to access by authorized people

Not addressing this requirement may lead to vulnerabilities explored by  attacks such as:  

*DoS Attacks:                                                              
In this type of attacks, the attacker attempts to prevent the provision of a service or resource that are signed by authorized users by launching various types of flood                                        

*DDoS Attacks:                                                        
It is an improved case of DoS attacks in terms of flooding the target server with server with a huge amount of packets.                                      

---
## Authentication                                                                 
Is the assurance that information transaction is from the source it claims to be from. The device authenticates itself prior to receiving or transmitting  any information. It assures that the information received is authentic. 

Not addressing this requirement may lead to vulnerabilities explored by attacks such as:                                                               

*Botnet Attack:                                                              
A botnet is a collection of compromised devices that can be remotely controlled by an attacker, i.e. the bot master. Its main purpose is to steal business information, remote access, online fraud, phishing, malware distribution, spam emails, etc.   
                                  
*Phishing Attack:
In a scenario of this type of attack, when using cloud services, an attacker can conduct phishing attacks by manipulating the web link to redirect it to a false link and hijack the user account for the purpose of stealing the your sensitive data.   
                                     
*DNS Attack:                                                                 
DNS attacks always occur in the case where the attacker makes use of the translation of the domain name in an Internet Protocol (IP) address, in order to access the confidential data of the user in an unauthorized way.

*MITM Attack:  
In this type of attack, an attacker attempts to intrude on a mail exchange or continuous message between two users or clients of a cloud-based mobile application (client-server).                                                     

*Reused IP Address Attack:                                                   
This type of attack occurs whenever a IP address is reused on a network. This occurs because in a network the number of IP addresses is usually limited, which causes an address assigned to one user to be assigned to another, so that it leaves the network.                                    

*Wrapping Attacks:                                                          
In a wrapping attack scenario, the attacker duplicates the SOAP message in the course of the translation and sends it to the server as a legitimate user. Therefore, the attacker may interfere with the malicious code. 

*Cookie Poisoning Attack:            
This type of attack consists of replacing or modifying cookie content in ways to gain unauthorized access to applications or Web pages. 

*Google Hacking Attacks:  
This type of attack involves the use of the Google search engine for the purpose of discovering confidential information that a hacker or wrongdoer can use for their benefit by hacking the account of a used.    

*Hypervisor Attacks:   
In this type of attack, the attacker aims to compromise the authenticity of sensitive user data and the availability of services from the cloud at the VM level.                    

--- 
## Authorization
The property that determines whether the user or device has rights/privileges 
to access a resource, or issue commands. 

Not addressing this requirement may lead to vulnerabilities explored by   attacks such as:                                                               

*SQL Injection Attack:                                                     
In  this  attack  the  perpetrator injects  malicious code in the system to gain access to information or even to gain control of the entire system.

*XSS Attack:                                                                
In  this  attack  the  perpetrator injects  malicious code in the system to gain access to information or even to gain control of the entire system.

*Reused IP Address:                                                         
This type of attack occurs whenever a IP address is reused on a network. This occurs because in a network the number of IP addresses is usually limited, which causes an address assigned to one user to be assigned to another, so that it leaves the network.  
                                  
*Botnet Attacks:                                                             
A botnet is a collection of compromised devices that can be remotely controlled by an attacker, i.e. the bot master. Its main purpose is to steal business information, remote access, online fraud, phishing, malware distribution, spam emails, etc.                                     

*Sniffer Attacks:                                                            
This type of attack is carried out by attackers using applications that can capture data packets in transit on a network, and if they are not heavily encrypted, can be read or interpreted.                             

*Wrapping Attacks:                                                           
In this attack scenario, the attacker duplicates the SOAP message in the course of the translation and sends it to the server as a legitimate user. Therefore, the attacker may interfere with the malicious code.        

*Google Hacking Attacks:                                                    
This type of attack involves the use of the Google search engine for the purpose of discovering confidential information that a hacker or wrongdoer can use for their benefit by hacking the account of a used.                

*Hypervisor Attacks:                                                         
In this type of attack, the attacker aims to compromise the authenticity of sensitive user data and the availability of services from the cloud at the VM level. 

*OS Command Injection:                                                
Applications are considered vulnerable to the OS command injection attack if they utilize non validated user input in a system level command what can lead to the invocation of scripts injected by the attacker.                        

*Buffer Overflows:        
Buffer overflows is an anomaly where a program, while writing data to a buffer, overruns the buffer's boundary and overwrites adjacent memory. It can be triggered by non-validated inputs that are designed to execute code. 

*Session Hijacking:   
An attacker impersonates a legitimate user through stealing or predicting a valid session ID.                                                            

*Session Fixation:                                                         
 An attacker has a valid session ID and forces the victim to use this ID.    

---
## Non-Repudiation                                                                 
The security property that ensures that the transfer of messages or credentials between 2 mobile users entities is undeniable  

---
## Accountability                                                                   
The property that ensures that every action can be traced back to a single user or device                                                                      

Not addressing this requirement may lead to vulnerabilities explored by attacks such as:                                                    

*DNS Attacks:                                                                 
DNS attacks always occur in the case where the attacker makes use of the translation of the domain name in an Internet Protocol (IP) address, in order to access the confidential data of the user in an unauthorized way.

*MITM Attacks:                                                    
In this type of attack, an attacker attempts to intrude on a mail exchange or continuous message between two users or clients of a cloud-based mobile  application (client-server).                                                

---
## Reliability                                                                       
Refers to the property that guarantees consistent intended behaviour of an a general system, in this case applied to cloud and mobile ecosystem.                   

---
## Privacy                                                                   
In the context of cloud and mobile, privacy refers to the control of the user over the disclosure of his data. In other words only the user has control of the sharing of is personal information, is data is only made public if the user   

---
## Physical Security                                                        
Refers to the security measures designed to deny unauthorized physical access to mobile devices and equipment, and to protect them from damage or in other words gaining physical access to the device won't give access to it's information                                                                   

Not addressing this requirement may lead to vulnerabilities explored by  attacks such as:                                                              

*Physical Attack:                                                         
 This attack occurs when the perpetrator gains physical access to the location where the system is operating and tries to gain information stored in the system  using his physical access.  
                                         
---
## Forgery Resistance                                                         
Is the propriety that ensures that the contents shared between entities cannot be forged by a third party trying to damage or harm the system or its users. In other words no one can try to forge content and send it in the name of another entities.                                                            

Not addressing this requirement may lead to vulnerabilities explored by attacks such as:                                                            

*Impersonation Attack:  
In this attack the attacker pretends to be one of the users of the system to fulfill is bad intentions.                                             

---
## Tamper Detection                                                         
Ensures all devices are physically secured, such that any tampering attempt is detected.                                                                     

*Tampering:                                                                
This type of attack occurs when an attacker preforms physical modifications on the hardware where the software is implemented                                              

*Reused IP Address Attack:                                                         
In this attack some nods are made more attractive than others by tampering with the routing information, when arriving to the sinkhole node the messages may be dropped or altered.                                        

---
## Data Freshness                                                                
Status that ensures that data is the most recent, and that old messages are not mistakenly used as fresh or purposely replayed by perpetrators. In other words this requirement provides the guarantee that the data displayed is the most recent                                                                       

---
## Confinement                                                                    
Ensures that even if a party is corrupted, the spreading of the effects of the attack is as confined as possible.                                           

---
## Interoperability                                                             
Is the propriety that ensures that different software communicates and works well with each-other. I.e a software in health-care that works with data that comes from a third-party needs to be able to use and process the information given to it by this software.                                                     

---
## Data Origin Authentication                                                    
Ensures that the data being received by the software comes from the source it claims to be. In other words it ensures that the data being received is authentic and from a trusted party.                                                

Not addressing this requirement may lead to vulnerabilities explored by attacks such as:                                                              

*MITM attack:                                                               
This type of attack occurs when an attacker gains access to a packet and re-sends it when it’s beneficial to him, resulting in him gaining the trust of the system. 
 
